extends layout.pug

block content
  h1 index page

  ul
    li
      a(href="/players") players
    li
      a(href="/goals") goals
    li
      a(href="/projects") projects
    li
      a(href="/missing-artifacts") missing-artifacts
    li
      a(href="/xpv2.csv") XP V2 Impact CSV
