html
  head
    title
      block title
      | Game Dashboard
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" media="all")
    link(rel="stylesheet" type="text/css" href="/style.css" media="all")
    block scripts
  body
    nav
      a(href="/") Home
      a(href="/cycles") Cycles
      a.prev-cycle-link(href="")= '◀'
      a(href="/cycles/current") Current Cycle
      a.next-cycle-link(href="")= '▶'
    main
      block content

    script(type="text/javascript" src="/script.js")
